@import "../../assets/scss/_variables.scss";

@function rem($px) {
    @return $px / 16px + 0rem;
	@return $px;
}
	
.paginate {
    text-align: center;

    .pager {
        margin: 0 0 rem(60px);
        font-size: 0;
        text-align: center;
        &__item {
            display: inline-block;
            vertical-align: top;
            font-size: rem(18px);
            font-weight: bold;
            margin: 0 2px;
            
            &.active {
                .pager__link {
                    background-color: $orange;
                    border-color: $orange;
                    color: $white !important;
                    text-decoration: none;
                }
            }
                
        }
    
        &__link {
            position: relative;
            border-radius: 4px;
            display: block;
            text-align: center;
            width: rem(42px);
            height: rem(42px);
            line-height: rem(42px);
            margin-left: -1px;
            color: $text;
            text-decoration: none;
            transition: .3s;
            
            &:hover, &:focus, &:active {
                color: $orange !important;
                font-weight: bold;
                text-decoration: none;
            }
        }
            
        .pager__item.active + .pager__item, .pager__item:hover + .pager__item {
            .pager__link {
                border-left-color: $orange;
            }
        }
    }
}