@import "../../assets/scss/variables";

.list__item {
  border-top: 1px solid $text;
  .item__image {
    border-radius: 2px;
    height: 200px;
    overflow: hidden;
    .item__tag {
      position: absolute;
      right: 0;
      font-size: 13px;
      color: $black;
      font-weight: $font-weight-regular;
      background-color: $yellow;
      z-index: 1;
      padding: 5px 15px;
      margin-top: 10px;
      margin-right: 10px;
      text-transform: uppercase;
    }
  }
}
