@import '../../assets/scss/variables';

.our-member {
    padding: 32px 8px;

    .our-member-header {
        .width-60 {
            width: 60%;
            text-align: center;
            margin: 0 auto;
            
            .title {
                font-size: 30px;
                color: $orange;
                font-family: 'Courgette', sans-serif;
            }
            
            .sub-title {
                font-size: 34px;
                font-family: 'Poppins', sans-serif;
            }
    
            .description {
                color: $text;
                font-size: 14px;
            }
        }
    }

    .our-member-content {
        
        .member {
            text-align: center;
            font-size: 15px;
            margin-top: 40px;
    
            .avatar {
                width: 130px;
                height: 130px;
                border-radius: 50%;
            }
    
            .name {
                font-weight: bold;
                margin: 10px 0 0 0;
            }
    
            .position {
                color: $text;
            }
        }
    }

    .our-member-footer {
        margin-top: 40px;

        .our-member-footer-left {
            text-align: right;

            Button {
                color: $white;
                background-color: $orange;
                border-color: $orange;
                font-size : 15px;
                width: 150px;
                height: 38px;
            }
        }

        .our-member-footer-right {
            font-size: 15px;
            margin: auto 0;
        }
    }
}