@import '../../assets/scss/variables';

.subscribe {
    background-color: $primary;
    padding: 32px 8px;

    .subscribe-left {
        h1 {
            color: $orange;
            font-family: "Courgette", cursive;
        }

        p {
            font-family: "Poppins", cursive;
            color: $white;
            font-size: 23px;
        }
    }

    .subscribe-right {
        display: flex;
        align-items: center;
        
        .subscribe-input {
            color: $white;
            height: 38px !important;
            background-color: #2E2D2D;
            border: none;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0.25rem;

            &::placeholder {
                color: #FFFFFF;
                opacity: 0.7;
                font-size: 13px;
            }

        }
        .subscribe-button {
            background-color: $orange !important;
            border: none !important;
            height: 38px !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0.25rem !important;
            border-bottom-right-radius: 0.25rem !important;
            border-bottom-left-radius: 0 !important;
        }
    }
    
}