$background: #E5E5E5;
$orange: #FF7D3E; 

.global-footer {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    background-color: $background;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    padding-bottom: 32px;
    padding-top: 32px;

    .footer-wide {
        .footer-info {
            .footer-info-left {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
    
                    li {
                        display: inline-block;
                        margin-right: 50px;
                        
                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            text-align: left;
                            
                            li {
                                color: #A8A7A7;
                                display: block;
                                list-style: none;
                                margin-bottom: 16px;
                                white-space: nowrap;
                            }
    
                            li.li-title {
                                color: #2f2f2f;
                                font-weight: bold;
                                height: 24px;
                                text-transform: uppercase;
                            }
    
                            li.website-address {
                                color: $orange;
                            }
                        }
                    }
                }
            }

            .footer-info-right {
                // background-color: #1a1a1a;
                
                .text-box {
                    max-width: 100%;
                    word-wrap: break-word;
                    font-size: 16px;
                    position: relative;
                    display: inline-block;
                    clear: both;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    padding: 13px 14px;
                    vertical-align: top;
                    border-radius: 5px;

                    &::before {
                        position: absolute;
                        bottom: -7px;
                        margin-left: 15px;
                        display: block;
                        width: 18px;
                        height: 16px;
                        content: '\00a0';
                        -webkit-transform: rotate(29deg) skew(-35deg);
                        transform: rotate(117deg) skew(-35deg);
                    }
                }

                .make {
                    float: left;
                    color: #1a1a1a;
                    background-color: #eceff1;
                    -ms-flex-item-align: start;
                    align-self: flex-start;
                    -webkit-animation-name: slideFromLeft;
                    animation-name: slideFromLeft;

                    &::before {
                        left: -3px;
                        background-color: #eceff1;
                    }

                    span {
                        transform: rotate(90deg);
                    }
                }
            }

        }
    }
}