@import '../../assets/scss/_colors.scss';

.top_header {
    background: $primary;
    padding: 15px 0;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left {
        font-size: 14px;
        color: $white;
    }

    .right {
        font-size: 14px;

        .items {

        }
    }
}