@import '../../assets/scss/variables';

.custom-control-label {
    padding-top: 2px;
}

.text__inform {
    color: $text !important;
    font-size: 14px;
    padding-top: 2px;

    &:hover {
        color: $orange !important;
    }
}

.modal-body {
    input {
        height: 50px;
        box-shadow: none;
        border: 1px solid $gainsboro;
        border-radius: 2px;
        font-size: 14px;
        color: $gainsboro;
    }
}  

.notification {
    text-align: center;

    .failed {
        color: red;
    }
}

.btn-login {
    width: 100%;
}