@import '../../assets/scss/variables';

.home-post {
    padding: 32px 8px;

    .home-post-title {
        margin-bottom: 28px;

        .btn-view-all {
            background-color: $orange;
            border: 1px solid $orange;
        }
    }
}