@import '../../../assets/scss/_variables.scss';

.footer-info {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 32px;

    .footer-info-left {
        width: 100%;
    }
}