@import "../../assets/scss/variables";

.popular-tags {
    margin-top: 25px;
    width: 100%;

    .popular-tags-title {
      font-size: 22px;
    }

    .popular-tags-list {
      display: flex;
      flex-wrap: wrap;

      .first-tag {
        background-color: $primary;
        width: auto;
        padding: 2px 4px;
        margin: 4px 4px 4px 0;

        .white-text {
          color: $white !important;
        }
      }
      
      .normal-tag {
        background-color: $gray95;
        color: $text;
        padding: 2px 4px;
        margin: 4px 4px;
      }
    }
  }