@import "../../assets/scss/variables";

.contact__section-contact-form {
  input,
  textarea {
    border-radius: 2px;
    border: none;
    font-size: 14px;
    color: $text;
    background-color: #F8F8F8;
    padding: 20px;

    &:focus {
      box-shadow: none;
    }
  }

  button {
    width: 20%;
  }
}
