@import "../../assets/scss/variables";

.hero__caption {
  h1 {
    font-family: "Courgette", cursive;
    font-weight: $font-weight-regular;
    color: $orange;
  }

  h4 {
    color: $white;
    font-size: 40px;
    font-weight: $font-weight-regular;
  }
}

.hero__form-search {
  .nav {
    .nav-item {
      .nav-link {
        border: none;
        border-radius: 0px !important;
        height: 41px;
        padding: 10px 40px !important;
        background-color: $primary;
        color: $white !important;
        cursor: pointer;

        svg {
          color: $black;
          opacity: 0.3;
        }

        &:hover {
          border-color: transparent;
        }

        &.active {
          svg {
            color: $text;
          }
          background-color: $white;
          color: $orange !important;
        }

        &:first-child {
          border-top-left-radius: 0px !important;
        }

        &:last-child {
          border-top-right-radius: 2px !important;
        }

        &.active:first-child {
          border-top-left-radius: 2px !important;
          border-top-right-radius: 0px !important;
        }

        &.active:last-child {
          border-top-right-radius: 2px !important;
        }
      }
    }
  }

  .tab-pane {
    border-radius: 2px !important;
  }

  .main__form {
    background-color: $white;
    border-radius: 2px;
  }

  .fix__height {
    padding-top: 30px;
  }
}
