@import "../../assets/scss/_variables.scss";

.thumbnail {
  position: relative;
  margin-bottom: 5px;

  .thumbnail__overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: $white;
    z-index: 1;
    width: 155px;
    height: 100%;
    opacity: 0.3;
    transition: all 0.4s;

    a {
      position: absolute;
      top: 35%;
      left: 15%;
      color: $primary !important;
      transition: all 0.4s;
      font-size: 18px;
      font-weight: bold;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .thumbnail__image {
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    width: 155px;
    height: 135px;

    img {
      width: 135px;
      height: 135px;
    }
  }

  span {
    font-size: 13px;
  }
}
