@import "../../assets/scss/variables";

.popular__list-tour {
  margin-top: 70px;
  margin-bottom: 30px;

  h1 {
    margin-bottom: 5px;
  }

  p {
    font-size: 17px;
    font-weight: $font-weight-medium;
  }

  &.hover {
    .destination__overlay {
      opacity: 0.2;
    }

    .destination__content {
      h4:after {
        width: 70px;
      }
    }
  }
}
