@import "./assets/scss/_variables.scss";

body {
  color: $text;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  overflow-x: hidden;
}

ul,
ol {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
  display: inline-block;
}

a {
  color: $text !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: $font-weight-regular;
  font-size: 13px;
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

.btn-primary {
  width: 100%;
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-orange {
  width: 100%;
  background-color: $orange !important;
  border-color: $orange !important;
  color: $white !important;
}
