@import "./assets/scss/_variables.scss";

body {
  color: $text;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px !important;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  overflow-x: hidden;
}

ul,
ol {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
  display: inline-block;
}

a {
  color: $text !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: $font-weight-regular;
  font-size: 13px;
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

h1 {
  font-family: "Courgette", cursive;
  font-weight: $font-weight-regular;
  color: $orange;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.btn {
  border-radius: 2px !important;
  font-size: 14px !important;
}

.desc {
  display: inline-block;
  border-radius: 100px;
  color: $white;
  padding: 5px 20px;
  margin-top: 10px;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-orange {
  width: 100%;
  background-color: $orange !important;
  border-color: $orange !important;
  color: $white !important;
}

.contact__section {
  .contact__section-left {
    .contact__section-address {
      .address-text {
        align-items: center;
        p {
          margin-top: 7px;
          font-weight: $font-weight-semi-bold;
        }
      }

      .address-block {
        margin-left: -12px !important;
        ul {
          li {
            color: $text;
          }
        }

        .social-icon {
          display: inline;
        }
      }
    }
  }

  .contact__section-right {
    h1 {
      font-family: "Poppins", sans-serif !important;
      color: $black;
    }
  }
}

.list__tours {
  // background-color: $white-smoke2;

  .filter__section {
    .filter__section-text {
      color: $text;
    }
    .filter__section-form {
      select {
        border: none;
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
  }

  .filter__section-search-form {
    padding: 20px 20px 10px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    .title {
      font-weight: $font-weight-regular;
      color: $gray31;
    }

    label {
      font-size: 14px;
      color: $gray31;
    }

    input,
    span.input-group-text {
      border: none;
      background: $white-smoke2;
      box-shadow: none;
      border-radius: 2px;
      font-size: 13px;
    }

    button {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .filter__section-category {
    border: 1px solid $text;

    .title {
      font-weight: $font-weight-regular;
      color: $gray31;
    }
    .list-category {
      li {
        font-size: 14px;
        color: $text;
        margin-bottom: 10px;

        .cs-checkbox {
          margin-bottom: 16px;

          input {
            margin-right: 5px;
          }

          label {
            position: relative;
            cursor: pointer;
            transition: all 0.3s;
            padding-left: 25px;
            font-size: 14px;
            color: $text;
            font-weight: normal;
            margin-bottom: 0px;
          }

          input[type="checkbox"] {
            display: none;
          }

          .check__mark {
            display: inline-block;
            height: 17px;
            left: 0;
            position: absolute;
            top: 0;
            width: 17px;
            border: solid 1px $gray88;
            border-radius: 2px;
            background: $white;
          }

          input[type="checkbox"] + .check__mark {
            background-repeat: no-repeat !important;
            background-position: center;
          }

          input[type="checkbox"]:checked + .check__mark {
            background-repeat: no-repeat !important;

            &:after {
              content: "";
              position: absolute;
              background-color: transparent;
              border-radius: 0;
              left: 5px;
              top: 2px;
              width: 5px;
              height: 8px;
              border: solid $orange;
              border-width: 0 2px 2px 0;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}

.post-list-of-blogs {
  padding: 32px 8px;
}

.blog-detail {
  .blog-detail-link {
    background-color: $gray95;
    height: 113px;
    display: flex;
    align-items: center;
  
    span {
      text-transform: uppercase;
      span {
        color: $text;
      }
    }
  }
  
  .blog-detail-main {
    .blog-detail-sidebar {
      .search {
        display: flex;
        flex-direction: row;
  
        Input {
          font-size: 14px;
          background-color: $gray95;
          border: none !important;
          border-top-left-radius: 0.25rem !important;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          border-bottom-left-radius: 0.25rem !important;
        }
    
        Button {
          background-color: $gray95;
          border: none !important;
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0.25rem !important;
          border-bottom-right-radius: 0.25rem !important;
          border-bottom-left-radius: 0 !important;
  
          .search-icon {
            color: $gray46;
          }
        }
      }

      .categories {
        margin-top: 25px;

        .title {
          font-size: 22px;
        }
        
        .category-item {
          color: $text;
          margin-bottom: 10px !important;
        }
      }

      .popular-post-list {
        margin-top: 25px;

        .popular-post-list-title {
          font-size: 22px;
        }
      }
    }
  
    .blog-detail-content {
      .post-image {
        width: 100%;
        border-radius: 2px;
      }
  
      .post-title {
        font-size: 27px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        margin: 15px 0 0 0;
      }

      .post-info {
        color: $text;

        ul {
          li {
            display: inline-block;
            margin-right: 30px;
          }
        }
      }

      .post-description {
      }

      .post-quotes {
        display: flex;
        justify-content: center;

        .quotes {
          width: 80%;
          border-left: 5px solid $orange;
          padding-left: 15px;
          
          span {
            font-size: 20px;
            color: $primary;
          }
        }
      }

      .post-tag {
        .orange-text {
          color: $orange !important;
        }
      }

      .author-info {
        display: flex;

        .author-avatar {
          img {
            width: 70px;
            height: auto;
            border-radius: 50%;
          }

          .author-social {
            color: $text;

            ul {
              display: flex;
              justify-content: center;

              li {
                margin: 0 2px;

                .icon {
                  width: 12px;
                  height: 12px;
                }
              }
            }
          }
        }
        .author-name-description {
          margin-left: 20px;

          .author-name {
            font-size: 18px;
            font-weight: bold;
            margin: 0 0 5px 0 !important;
          }

          .author-description {
          }
        }
      }

      .blog-detail-content-paginate {
        background-color: $grayF8;
        height: 80px;
        border: 1px solid $gray95;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;

        .previous-post {
          display: flex;
          margin-right: auto;

          .link {
            font-size: 14px !important;
            font-weight: 600 !important;

            &:hover {
              color: $orange !important;
            }
          }
        }
        
        .grid-circle {
          display: flex;
          justify-content: center;
          align-items: center;

          .border-circle {
            width: 40px;
            height: 40px;
            background-color: $white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .grid-icon {
              color: $orange;
              width: 20px;
              height: 20px;
            }
          }
        }

        .next-post {
          display: flex;
          margin-left: auto;

          .link {
            font-size: 14px !important;
            font-weight: 600 !important;

            &:hover {
              color: $orange !important;
            }
          }
        }
      }

      .post-comment {
        .post-comment-title {
          font-size: 27px;
          font-weight: bold;

          .post-comment-count {
            color: $orange !important;
          }
        }

        .view-mode-comment {
          text-align: center;

          p {
            text-transform: uppercase;
            font-weight: bold;
            color: $text;
            font-size: 15px;

            span {
              color: $primary;
            }
          }
        }
      }
    }
  }

  .related-posts {
    background-color: $grayF8;
    padding: 50px 0 20px 0;

    .related-posts-title {
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 25px;
    }

    .card {
      background-color: $grayF8 !important;
    }
  }
}
