@import "./assets/scss/_variables.scss";

body {
  color: $text;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px !important;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  overflow-x: hidden;
}

ul,
ol {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
  display: inline-block;
}

a {
  color: $text !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: $font-weight-regular;
  font-size: 13px;
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

h1 {
  font-family: "Courgette", cursive;
  font-weight: $font-weight-regular;
  color: $orange;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.desc {
  display: inline-block;
  border-radius: 100px;
  color: $white;
  padding: 5px 20px;
  margin-top: 10px;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-orange {
  width: 100%;
  background-color: $orange !important;
  border-color: $orange !important;
  color: $white !important;
}

.contact__section {
  .contact__section-left {
    .contact__section-address {
      .address-text {
        align-items: center;
        p {
          margin-top: 7px;
          font-weight: $font-weight-semi-bold;
        }
      }

      .address-block {
        margin-left: -12px !important;
        ul {
          li {
            color: $text;
          }
        }

        .social-icon {
          display: inline;
        }
      }
    }
  }

  .contact__section-right {
    h1 {
      font-family: "Poppins", sans-serif !important;
      color: $black;
    }
    .contact__section-contact-form {
      input,
      textarea {
        border-radius: 2px;
        border: none;
        font-size: 14px;
        color: $text;
        background-color: $gray88;
        padding: 20px;

        &:focus {
          box-shadow: none;
        }
      }

      button {
        width: 20%;
      }
    }
  }
}
