@import '../../assets/scss/variables';

.footer-contact {
    padding: 32px 8px;

    .title-item {
        font-size: 22px;
        font-weight: 600;
        color: $black;
    }
    .footer-contact-left {
        .phone {
            float: left;
            margin-top: 10px;

            .phone-info {
                float: right;
                margin-left: 10px;
                color: $text;

                span {
                    font-size: 14px;
                    color: $orange;
                    font-weight: bold;
                }
                
                p {
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
        }
    }

    .footer-contact-mid {
        .mail {
            float: left;
            margin-top: 10px;

            .mail-info {
                float: right;
                margin-left: 10px;
                color: $text;

                span {
                    font-size: 14px;
                    color: $orange;
                    font-weight: bold;
                }

                p {
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
        }
    }

    .footer-contact-right {
        ul.our-partners {
            list-style: none;
            float: left;
            margin-top: 10px !important;

            li {
                display: inline-block;
                margin-right: 26px;

                a {
                    color: #A8A7A7;

                    &:hover {
                        color: #212529 !important;
                    }

                    img {
                        width: 40px;
                    }
                }
            }
        }
    }
}