//Color
$primary: #1b3e8d;
$orange: #ff7d3e;
$green: #7cdf6c;
$text: #a8a7a7;
$white: #fff;
$yellow: #ffe54a;
$top-header: #f2f2f2;
$menu-background: #f4f5f9;
$black: #000000;
$background: #e5e5e5;
$gray31: #4f4f4f;
$gray46: #757575;
$gray88: #e0e0e0;
$gray95: #f2f2f2;
$white-smoke: #f4f0f0;
$white-smoke2: #f8f5f5;
$facebook-color: #395899;
$google-color: #f34a38;
$twitter-color: #03a9f4;
$gainsboro: #D9D8D8;

//Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
