//Color
$primary: #1B3E8D;
$orange: #FF7D3E;
$text: #A8A7A7;
$white: #fff;
$top-header: #F2F2F2;
<<<<<<< HEAD
$background: #E5E5E5;
=======
<<<<<<< HEAD
=======
$menu-background: #f4f5f9;
>>>>>>> 6c75fd696a711b0b8c547ef7451f475424ad6581
>>>>>>> b756abbd618c814d3769ed2d2f366385f7e5d851


//Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
