//Color
$primary: #1B3E8D;
$orange: #FF7D3E;
$text: #A8A7A7;
$white: #fff;
$top-header: #F2F2F2;


//Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
